<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for MembershipStatus</h1>

<f:flashMessages />

<table  class="tx_vmmember" >
	<tr>
		<th><f:translate key="tx_vmmember_domain_model_membershipstatus.status_title" /></th>
		<th><f:translate key="tx_vmmember_domain_model_membershipstatus.status_description" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{membershipStatuses}" as="membershipStatus">
		<tr>
			<td><f:link.action action="show" arguments="{membershipStatus : membershipStatus}"> {membershipStatus.statusTitle}</f:link.action></td>
			<td><f:link.action action="show" arguments="{membershipStatus : membershipStatus}"> {membershipStatus.statusDescription}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{membershipStatus : membershipStatus}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{membershipStatus : membershipStatus}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New MembershipStatus</f:link.action>
</f:section>
</html>