<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for SystemPlaceholder</h1>

<f:flashMessages />

<table  class="tx_vmbase" >
	<tr>
		<th><f:translate key="tx_vmbase_domain_model_systemplaceholder.placeholder" /></th>
		<th><f:translate key="tx_vmbase_domain_model_systemplaceholder.replace_with" /></th>
		<th><f:translate key="tx_vmbase_domain_model_systemplaceholder.placeholder_group" /></th>
		<th><f:translate key="tx_vmbase_domain_model_systemplaceholder.description" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{systemPlaceholders}" as="systemPlaceholder">
		<tr>
			<td><f:link.action action="show" arguments="{systemPlaceholder : systemPlaceholder}"> {systemPlaceholder.placeholder}</f:link.action></td>
			<td><f:link.action action="show" arguments="{systemPlaceholder : systemPlaceholder}"> {systemPlaceholder.replaceWith}</f:link.action></td>
			<td><f:link.action action="show" arguments="{systemPlaceholder : systemPlaceholder}"> {systemPlaceholder.placeholderGroup}</f:link.action></td>
			<td><f:link.action action="show" arguments="{systemPlaceholder : systemPlaceholder}"> {systemPlaceholder.description}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{systemPlaceholder : systemPlaceholder}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{systemPlaceholder : systemPlaceholder}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New SystemPlaceholder</f:link.action>
</f:section>
</html>