<ul class="nav nav-tabs">
	<li class="active"><a href="#tab_1" data-toggle="tab"><f:translate key="LLL:EXT:vm_dashboard/Resources/Private/Language/locallang.xlf:dashboard.tab.defaultData" /></a></li>
	<li><a href="#tab_2" data-toggle="tab"><f:translate key="LLL:EXT:vm_dashboard/Resources/Private/Language/locallang.xlf:dashboard.tab.registerCourt" /></a></li>
	<li><a href="#tab_3" data-toggle="tab"><f:translate key="LLL:EXT:vm_dashboard/Resources/Private/Language/locallang.xlf:dashboard.tab.bankData" /></a></li>
	<li><a href="#tab_4" data-toggle="tab"><f:translate key="LLL:EXT:vm_dashboard/Resources/Private/Language/locallang.xlf:dashboard.tab.socialMedia" /></a></li>
</ul>
