<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">


<f:flashMessages />
	<div class="box box-primary">
		<div class="box-body">
<f:render partial="FormErrors" arguments="{object:Club}" />

<f:form action="createClub" enctype="multipart/form-data"  name="newClub" object="{newClub}">
<f:render partial="Club/FormFields" />
		</div>
		<!-- /.box-body -->
		<div class="box-footer">
			<div class="form-group">
				<button type="submit" class="btn btn-success"><i class="far fa-save"></i> Speichern</button>
			</div>
		</div>
		<!-- box-footer -->
</f:form>
	</div>
	<!-- /.box -->
</f:section>
</html>
