<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="functionName">
	<f:translate key="tx_vmmember_domain_model_clubfunctions.function_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="functionName" /><br />
<label for="functionDescription">
	<f:translate key="tx_vmmember_domain_model_clubfunctions.function_description" />
</label><br />
	<f:form.textarea property="functionDescription" cols="40" rows="15" /><br />
</html>