<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="salutationTitle">
	<f:translate key="tx_vmmember_domain_model_salutation.salutation_title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="salutationTitle" /><br />
<label for="salutationDescription">
	<f:translate key="tx_vmmember_domain_model_salutation.salutation_description" />
</label><br />
	<f:form.textarea property="salutationDescription" cols="40" rows="15" /><br />
</html>