<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">
<h1>Listing for ContributionRate</h1>

<f:flashMessages />

<table  class="tx_vmmember" >
	<tr>
		<th><f:translate key="tx_vmmember_domain_model_contributionrate.contribution_rate_title" /></th>
		<th><f:translate key="tx_vmmember_domain_model_contributionrate.contribution_rate_amount" /></th>
		<th><f:translate key="tx_vmmember_domain_model_contributionrate.contribute_rate_description" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{contributionRates}" as="contributionRate">
		<tr>
			<td><f:link.action action="show" arguments="{contributionRate : contributionRate}"> {contributionRate.contributionRateTitle}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contributionRate : contributionRate}"> {contributionRate.contributionRateAmount}</f:link.action></td>
			<td><f:link.action action="show" arguments="{contributionRate : contributionRate}"> {contributionRate.contributeRateDescription}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{contributionRate : contributionRate}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{contributionRate : contributionRate}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New ContributionRate</f:link.action>
</f:section>
</html>
