<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-vm-club" >
	<tr>
		<td>
			<f:translate key="tx_vmclub_domain_model_club.club_name" />
		</td>
		<td>
		{club.clubName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmclub_domain_model_club.club_short_name" />
		</td>
		<td>
		{club.clubShortName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmclub_domain_model_club.club_street" />
		</td>
		<td>
		{club.clubStreet}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmclub_domain_model_club.club_zip_code" />
		</td>
		<td>
		{club.clubZipCode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmclub_domain_model_club.club_city" />
		</td>
		<td>
		{club.clubCity}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmclub_domain_model_club.club_phone" />
		</td>
		<td>
		{club.clubPhone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmclub_domain_model_club.club_email" />
		</td>
		<td>
		{club.clubEmail}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmclub_domain_model_club.club_website" />
		</td>
		<td>
		{club.clubWebsite}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmclub_domain_model_club.club_tax_number" />
		</td>
		<td>
		{club.clubTaxNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmclub_domain_model_club.club_vat_number" />
		</td>
		<td>
		{club.clubVatNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmclub_domain_model_club.club_registration_court" />
		</td>
		<td>
		{club.clubRegistrationCourt}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmclub_domain_model_club.club_registration_number" />
		</td>
		<td>
		{club.clubRegistrationNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmclub_domain_model_club.club_i_b_a_n" />
		</td>
		<td>
		{club.clubIBAN}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmclub_domain_model_club.club_b_i_c" />
		</td>
		<td>
		{club.clubBIC}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmclub_domain_model_club.club_d_id" />
		</td>
		<td>
		{club.clubDId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmclub_domain_model_club.club_organisation" />
		</td>
		<td>
		{club.clubOrganisation}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmclub_domain_model_club.club_organisation_number" />
		</td>
		<td>
		{club.clubOrganisationNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_vmclub_domain_model_club.club_logo" />
		</td>
		<td>
				<f:image src="{club.clubLogo.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
</table>
</html>