{namespace vm = Typo3graf\VmBase\ViewHelpers}
<div class="form-group {vm:form.hasError(property:'clubEmail', then: 'has-error')}">
	<label for="clubEmail">
		<f:translate key="tx_vmclub_domain_model_club.club_email" />
	</label>
	<f:security.ifHasRole role="4">
		<f:then>
			<f:form.textfield property="clubEmail" class="form-control" readonly="true" />
		</f:then>
		<f:else>
			<f:form.textfield property="clubEmail" class="form-control"/>
		</f:else>
	</f:security.ifHasRole>
	<f:render partial="FieldErrors" arguments="{for: 'club.clubEmail'}" />
</div>
