<h3>Hinweise zu Import-Dateien</h3>
<ul>
	<li>Die Datei muss Semikolons als Trennzeichen verwenden</li>
	<li>Alle als "erforderlich" markierten Felder müssen im Mapping belegt sein und dürfen in der CSV Datei keine leeren Felder enthalten.</li>
	<li>Login-E-Mail Adressen oder Benutzernamen sind erforderlich und müssen eindeutig sein.</li>
	<li>Die folgenden Datumsformate werden unterstützt:
		<ul>
			<li>dd.mm.YYYY</li>
			<li>dd.mm.YY</li>
			<li>dd-mm-YYYY</li>
			<li>YYYY-mm-dd</li>
			<li>YYYY-mm-dd HH:ii</li>
		</ul>
	</li>
	<li>Dezimalzahlen sollten entweder mit Kommata oder Punkten getrennt werden.<br>Tausendertrennzeichen sollten nicht enthalten sein.</li>
	<li>Einheiten dürfen nicht Bestandteil der Spalten sein</li>
	<li>Die Dateien können UTF-8, ISO-8859-1, ISO-8859-15, Windows-1252 kodiert sein</li>

</ul>
