<div class="checkbox">
	<label for="showMemberListByGroups">
		<f:form.checkbox property="showMemberListByGroups" value="1"  additionalAttributes="{data-toggle: 'toggle', data-size: 'mini', data-onstyle:'success', data-offstyle:'danger', data-width: '45', data-height: '22', data-on:'<i class=\"fas fa-check\"></i>', data-off:'<i class=\"fas fa-times\"></i>'}" />
		<b><f:translate key="tx_vmbase_domain_model_masettings.show_member_list_by_groups"/></b>
		<span class="help-block"><f:translate key="LLL:EXT:vm_base/Resources/Private/Language/locallang_csh_tx_vmbase_domain_model_masettings.xlf:show_member_list_by_groups.description" /></span>
	</label>
</div>
