<div style="color: rgb(102,102,102);font-size: 12.0px;font-family: arial;margin: 0;padding: 0;background-color: rgb(250,250,250);max-width: 600.0px;margin: auto;">
	<center>
		<table border="0" cellpadding="0" cellspacing="0" class="background text" height="100%" width="100%">
			<tbody>
			<tr>
				<td align="center" valign="top">
					<table border="0" cellpadding="0" cellspacing="0" class="text" height="100%" width="602">
						<tbody>
						<tr>
							<td align="left" valign="top">
								<table align="center" cellpadding="0" cellspacing="0" class="text" id="crContent"
									   width="600">
									<tbody>
									<tr>
										<td align="center" colspan="2" id="crHeader"><br/><span
												style="font-size: 2.0em;">{club.clubName}<br/></span><br/><br/></td>
									</tr>
									<tr>
										<td colspan="2" valign="top" width="600">
											<table border="0" cellpadding="10" cellspacing="0" width="600">
												<tbody>
												<tr>
													<td class="text">
														<table border="0" class="editable text" width="600">
															<tbody>
															<tr>
																<td valign="top">
																	<div style="text-align: justify;">
																		<div style="padding: 10.0px;font-family: Arial;width: 550.0px;text-align: justify;">
																			<h3>Hallo {member.memberFirstname} {member.memberLastname},</h3>{user.memberFirstname} {user.memberLastname}
																			vom Verein {club.clubName} hat einen neuen
																			Mitgliederzugang f&uuml;r diese E-Mail
																			Adresse angelegt.<br/><br/>Der Verein
																			verwendet die SmartVerein Verwaltungssoftware
																			f&uuml;r die Verwaltung und Organisation des
																			Vereins und teilt Informationen und
																			Daten &uuml;ber diesen Zugang mit seinen
																			Mitgliedern.Der Login kann mit den unten
																			stehenden Daten zur Authentifizierung
																			erfolgen:<br/><br/>
																			<ul>
																				<li>Link: <a href=""
																							 onclick="parent.phx.event.mailUrlClicked(&#39;http:&#92;/&#92;/easyverein.com&#92;/public&#92;/KGRW&#39;); return true;">http://easyverein.com/public/KGRW</a>
																				</li>
																				<li>Benutzername: {member.memberLogin.username}</li>
																				<li>Passwort: {member.password}</li>
																			</ul>
																			<br/><br/>Bei Fragen oder Unklarheiten
																			stehen die Administratoren des Vereins zur
																			Verf&uuml;gung.<br/><br/>Beste Gr&uuml;&szlig;e<br/>{user.memberFirstname} {user.memberLastname}
																			<hr/>
																			Diese E-Mail wurde &uuml;ber die SmartVerein
																			Vereinsverwaltung vom {club.clubName}
																			versendet.
																		</div>
																	</div>
																</td>
															</tr>
															</tbody>
														</table>
													</td>
												</tr>
												</tbody>
											</table>
										</td>
									</tr>
									</tbody>
								</table>
								<table border="0" cellpadding="0" cellspacing="0" style="font-size: 10.0px;"
									   width="600">
									<tbody>
									<tr>
										<td align="center" class="text" id="crfooter" valign="top"><br/><br/><span
												style="font-size: 1.0em;">Vereins<b>Meier</b></span><br/><br/><strong>Typo3graf media-agentur UG</strong><br/>Am Sattelplatz 17 / 45659 Recklinghausen<br/><br/>+4923618498380 / vereinsmeier@typo3graf.de</td>
									</tr>
									</tbody>
								</table>
								<br/></td>
						</tr>
						</tbody>
					</table>
				</td>
			</tr>
			</tbody>
		</table>
	</center>
</div></div>
</div>

</div>

</div>
