<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="templateTitle">
	<f:translate key="tx_vmbase_domain_model_notificationtemplates.template_title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="templateTitle" /><br />
<label for="templateSource">
	<f:translate key="tx_vmbase_domain_model_notificationtemplates.template_source" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="templateSource" cols="40" rows="15" /><br />
<label for="templateType">
	<f:translate key="tx_vmbase_domain_model_notificationtemplates.template_type" />
</label><br />
	<f:form.textfield property="templateType" /><br />
</html>