<div class="form-group">
	<label for="memberIDFormat">
		<f:translate key="tx_vmbase_domain_model_syssettings.member_i_d_format" />
	</label>
	<div class="form-inline">
		<f:form.textfield property="memberIDFormat" class="form-control" placeholder="{M}"/>
		<button type="button" class="form btn btn-default btn-sm" data-toggle="modal" data-target="#placeholder">
			Platzhalter anzeigen
		</button>
	</div>
	<span class="help-block"><f:translate key="LLL:EXT:vm_base/Resources/Private/Language/locallang_csh_tx_vmbase_domain_model_syssettings.xlf:member_i_d_format.description" /></span>
</div>
