{namespace vm = Typo3graf\VmBase\ViewHelpers}
<f:if condition="{member.membershipResignation}">
	<f:then><f:link.typolink parameter="{member.membershipResignation.0.originalResource.publicUrl}" target="_blank"><i class="fas fa-external-link-alt"></i> Austrittserklärung ansehen</f:link.typolink></f:then>
	<f:else><br/></f:else>
</f:if>
<p></p>
<f:security.ifHasRole role="23">
	<f:then>

	</f:then>
	<f:else>
		<label for="membershipResignation">
			<f:translate key="tx_vmmember_domain_model_member.membership_resignation" />
		</label>
		<div>
			<vm:form.upload property="membershipResignation.0" id="js-membershipResignation-upload" additionalAttributes="{accept: 'image/png, image/jpeg, application/pdf'}">
			</vm:form.upload>
		</div>
	</f:else>
</f:security.ifHasRole>

