<div class="form-group">
	<label for="memberWeddingDate">
		<f:translate key="tx_vmmember_domain_model_member.member_wedding_date" />
	</label>
	<div class="input-group">
		<div class="input-group-addon">
			<i class="fas fa-calendar"></i>
		</div>
		<f:security.ifHasRole role="21">
			<f:then>
				<f:form.textfield  property="memberWeddingDate" class="form-control" value="{member.memberWeddingDate->f:format.date(format: 'd.m.Y')}" readonly="true" />
			</f:then>
			<f:else>
				<f:form.textfield id="weddingdate" property="memberWeddingDate" class="form-control" value="{member.memberWeddingDate->f:format.date(format: 'd.m.Y')}" />
			</f:else>
		</f:security.ifHasRole>

	</div>
</div>
