<div class="form-group {vm:form.hasError(property:'password', then: 'has-error')}">
	<label><f:translate key="LLL:EXT:vm_dashboard/Resources/Private/Language/locallang.xlf:dashboard.loginData.password" /></label>
	<div class="input-group">
		<f:security.ifHasRole role="29">
			<f:then>
				<f:form.textfield type="password" property="password" class="form-control" readonly="true"/>
				<a class="input-group-addon" style="cursor: pointer;"><f:translate key="LLL:EXT:vm_dashboard/Resources/Private/Language/locallang.xlf:generate" /></a>
			</f:then>
			<f:else>
				<f:form.textfield type="password" property="password" class="form-control"/>
				<a class="input-group-addon" style="cursor: pointer;" id="passgenbut"><f:translate key="LLL:EXT:vm_dashboard/Resources/Private/Language/locallang.xlf:generate" /></a>
			</f:else>
		</f:security.ifHasRole>

	</div>
</div>
