<div class="form-group {vm:form.hasError(property:'password', then: 'has-error')}">
	<label><f:translate key="LLL:EXT:vm_dashboard/Resources/Private/Language/locallang.xlf:dashboard.loginData.repeatPassword" /></label>
	<f:security.ifHasRole role="29">
		<f:then>
			<f:form.textfield type="password" property="passwordConfirm" class="form-control" readonly="true" />
		</f:then>
		<f:else>
			<f:form.textfield type="password" property="passwordConfirm" class="form-control"/>
		</f:else>
	</f:security.ifHasRole>

	<f:render partial="FieldErrors" arguments="{for: 'member.password'}" />
</div>
