<f:section name="Left">
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<f:render partial="Media/Gallery" arguments="{_all}" />
		</div>
		<div class="col-md-6 col-xs-12">
			<f:render partial="Header/All" arguments="{_all}" />
			<f:format.html>{data.bodytext}</f:format.html>
		</div>
	</div>
</f:section>
<f:section name="Center">
HAllO
	<div class="row">
		<div class="col-md-6 col-xs-12">
			<f:render partial="Media/Gallery" arguments="{_all}" />
		</div>
		<div class="col-md-6 col-xs-12">
			<f:render partial="Header/All" arguments="{_all}" />
			<f:format.html>{data.bodytext}</f:format.html>
		</div>
	</div>

</f:section>
