<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
<f:section name="Default">
	<!-- Main Footer -->
	<footer class="main-footer">
		<!-- To the right -->
		<div class="pull-right hidden-xs">
			Support: smartverein@typo3graf.de | FAQ | Impressum | Datenschutzerklärung | AGB</div>
		<!-- Default to the left -->
		<strong>Copyright &copy; 2018 <a class="typo3graf logincopyright" target="_blank" href="https://www.typo3graf.de">Typo3graf media-agentur Tölle</a>.</strong> All rights reserved.
	</footer>
</f:section>
</html>
