<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for SYSSettings</h1>

<f:flashMessages />

<table  class="tx_vmbase" >
	<tr>
		<th><f:translate key="tx_vmbase_domain_model_syssettings.member_i_d_format" /></th>
		<th><f:translate key="tx_vmbase_domain_model_syssettings.auto_member_i_d" /></th>
		<th><f:translate key="tx_vmbase_domain_model_syssettings.supplement_member_i_d" /></th>
		<th><f:translate key="tx_vmbase_domain_model_syssettings.club_anniversaries" /></th>
		<th><f:translate key="tx_vmbase_domain_model_syssettings.show_member_birthdays" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{sYSSettingss}" as="sYSSettings">
		<tr>
			<td><f:link.action action="show" arguments="{sYSSettings : sYSSettings}"> {sYSSettings.memberIDFormat}</f:link.action></td>
			<td><f:link.action action="show" arguments="{sYSSettings : sYSSettings}"> {sYSSettings.autoMemberID}</f:link.action></td>
			<td><f:link.action action="show" arguments="{sYSSettings : sYSSettings}"> {sYSSettings.supplementMemberID}</f:link.action></td>
			<td><f:link.action action="show" arguments="{sYSSettings : sYSSettings}"> {sYSSettings.clubAnniversaries}</f:link.action></td>
			<td><f:link.action action="show" arguments="{sYSSettings : sYSSettings}"> {sYSSettings.showMemberBirthdays}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{sYSSettings : sYSSettings}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{sYSSettings : sYSSettings}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New SYSSettings</f:link.action>
</f:section>
</html>