<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="memberIDFormat">
	<f:translate key="tx_vmbase_domain_model_syssettings.member_i_d_format" />
</label><br />
	<f:form.textfield property="memberIDFormat" /><br />
<label for="autoMemberID">
	<f:translate key="tx_vmbase_domain_model_syssettings.auto_member_i_d" />
</label><br />
	<f:form.checkbox property="autoMemberID" value="1" /><br />
<label for="supplementMemberID">
	<f:translate key="tx_vmbase_domain_model_syssettings.supplement_member_i_d" />
</label><br />
	<f:form.checkbox property="supplementMemberID" value="1" /><br />
<label for="clubAnniversaries">
	<f:translate key="tx_vmbase_domain_model_syssettings.club_anniversaries" />
</label><br />
	<f:form.textarea property="clubAnniversaries" cols="40" rows="15" /><br />
<label for="showMemberBirthdays">
	<f:translate key="tx_vmbase_domain_model_syssettings.show_member_birthdays" />
</label><br />
	<f:form.textarea property="showMemberBirthdays" cols="40" rows="15" /><br />
</html>