<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="statusTitle">
	<f:translate key="tx_vmmember_domain_model_membershipstatus.status_title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="statusTitle" /><br />
<label for="statusDescription">
	<f:translate key="tx_vmmember_domain_model_membershipstatus.status_description" />
</label><br />
	<f:form.textarea property="statusDescription" cols="40" rows="15" /><br />
</html>